@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}
